ion-view(ng-controller="CampaignController")
  mixin campaignsContainer(containerTitle, items,itemsClass,orderByStr)
    .campaign_container(ng-if="nowType=='all'||nowType=='#{items}'")
      .campaign_container_title(ng-if="#{items}.length>0 || nowType=='#{items}'" ng-cloak)
        p #{containerTitle} {{#{items}.length}}
      campaign-card(ng-repeat="campaign in #{items}" campaign="campaign" campaign-index="$index" campaign-filter="#{items}")

  ion-header-bar

    a.button.icon.ion-calendar(href="#/calendar/campaigns")
    h1.title 活动
    a.button.icon.ion-plus(ng-if="showSponsorButton" href="#/campaign/sponsor/campaigns")

  ion-content.campaigns_container.has-header(delegate-handle="mainScroll" overflow-scroll="true")
    
    .button-bar.campaign_filter
      a.button.button-clear(ng-click="filter('all')" ng-class="{'icon_blue':nowType=='all'}") 所有
      a.button.button-clear(ng-click="filter('newCampaigns')" ng-class="{'icon_blue':nowType=='newCampaigns'}") 新活动
      a.button.button-clear(ng-click="filter('provokes')" ng-class="{'icon_blue':nowType=='provokes'}") 挑战
      a.button.button-clear(ng-click="filter('nowCampaigns')" ng-class="{'icon_blue':nowType=='nowCampaigns'}") 进行中
      a.button.button-clear(ng-click="filter('unStartCampaigns')" ng-class="{'icon_blue':nowType=='unStartCampaigns'}") 即将
    ion-scroll.campaign_list
      ion-refresher(on-refresh="doRefresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
      +campaignsContainer('未参加的新活动','newCampaigns','icon_darkBlue')
      +campaignsContainer('挑战','provokes','icon_iconPurple')
      +campaignsContainer('进行中的活动','nowCampaigns','icon_borderPurple')
      +campaignsContainer('即将开始的活动','unStartCampaigns','icon_textPurple')
      .no_campaign(ng-if="noCampaigns" ng-cloak)
        .no_campaign_tip
          p 没有活动怎么办？进入
          p
            a.team_link(href="#/app/discover") 发现
            span.tip_info 加入更多小队！

  include ./photo-swipe
