ion-view
  mixin campaignsContainer(containerTitle, items)
    .campaign_container(ng-if="nowType=='all'||nowType=='#{items}'")
      .campaign_container_title(ng-cloack)
        p #{containerTitle} {{#{items}.length}}
      .list.card.dl_card(ng-repeat="campaign in #{items}")
        a.item.item-avatar.dl_card_header(ng-if="campaign.campaign_unit.length==1" ng-href="#/campaign/detail/{{campaign._id}}")
          img.dl_team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}")
          h2.dl_cp_name {{campaign.theme}}
          if items =='newCampaigns'
            p.dl_cp_time_start {{campaign.start_time | date:"yyyy-MM-dd HH:mm"}}
          if items =='unStartCampaigns' || items =='nowCampaigns'
            p.dl_cp_address {{campaign.location.name}}
          .button_container
            if items =='newCampaigns'
              button.dl_cp_join(prevent-default ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign" ng-click="join('#{items}',$index, campaign._id)") 参加
            else if items =='nowCampaigns'
              p.dl_cp_time_countdown {{campaign.end_time | date:"yyyy-MM-dd HH:mm" | day}}结束
            else
              p.dl_cp_time_countdown {{campaign.time_text}}
        a.item.item-avatar.dl_card_header.dl_card_header_provoke(ng-if="campaign.campaign_unit.length==2"  href="#/campaign/detail/{{campaign._id}}")
          img.dl_team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}")
          span.dl_team_vs vs
          img.dl_team_logo.dl_team_logo_right(ng-src="{{STATIC_URL +(campaign.campaign_unit[1].team.logo || campaign.campaign_unit[1].company.logo)+'/45/45'}}")
        if items =='provokes'
          a.item.item-body.dl_card_body(href="#/campaign/detail/{{campaign._id}}")
            p.dl_prvoke_info
              span.dl_team_name {{campaign.campaign_unit[0].team.name}}
              | 向
              span.dl_team_name {{campaign.campaign_unit[1].team.name}}
              | 发起挑战
            h2.dl_cp_name {{campaign.theme}}
            ion-scroll(ng-if="campaign.photo_album.photos.length>0" direction="x" scrollbar-x="false")
              .dl_photo_alb
                img.dl_cp_photo(ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL +photo.uri+'/150/150'}}")
        else
          a.item.item-body.dl_card_body(ng-if="campaign.photo_album.photos.length>0" href="#/campaign/detail/{{campaign._id}}")
            ion-scroll(direction="x" scrollbar-x="false")
              .dl_photo_alb
                img.dl_cp_photo(ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL +photo.uri+'/150/150'}}")
        if items =='provokes'
          a.item.tabs.dl_card_footer(href="#/campaign/detail/{{campaign._id}}")
            button.tab-item.dl_cp_confirm(eat-click ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke('#{items}',$index, campaign._id,1)") 接收
            button.tab-item.dl_cp_refuse(eat-click ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke('#{items}',$index, campaign._id,2)") 拒绝
            button.tab-item.dl_cp_cancel(eat-click ng-if="campaign.allow.quitProvoke" ng-click="dealProvoke('#{items}',$index, campaign._id,3)") 取消
        else
          a.item.tabs.tabs-icon-left.dl_card_footer(href="#/campaign/detail/{{campaign._id}}")
            .tab-item.dl_team_name
              | {{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}}
            .tab-item.dl_team_number
              i.icon.ion-person-stalker
              | {{campaign.members_count || '0'}}
            .tab-item.dl_team_comment
              i.icon.ion-chatbox
              | {{campaign.comment_sum}}
  ion-header-bar

    a.button.icon.button-clear.ion-calendar.icon_blue(href="#/calendar")
    h1.title 活动
    a.button.icon.button-clear.ion-plus.icon_blue
    
  ion-content.campaigns_container.has-header(overflow-scroll="true")
    .button-bar.campaign_filter
      a.button.button-clear(ng-click="nowType='all'" ng-class="{'button_active':nowType=='all'}") 所有
      a.button.button-clear(ng-click="nowType='newCampaigns'" ng-class="{'button_active':nowType=='newCampaigns'}") 新活动
      a.button.button-clear(ng-click="nowType='provokes'" ng-class="{'button_active':nowType=='provokes'}") 挑战
      a.button.button-clear(ng-click="nowType='nowCampaigns'" ng-class="{'button_active':nowType=='nowCampaigns'}") 进行中
      a.button.button-clear(ng-click="nowType='unStartCampaigns'" ng-class="{'button_active':nowType=='unStartCampaigns'}") 即将
    ion-scroll.campaign_list
      +campaignsContainer('新的活动','newCampaigns')
      +campaignsContainer('挑战','provokes')
      +campaignsContainer('进行中','nowCampaigns')
      +campaignsContainer('即将','unStartCampaigns')
