ion-view
  mixin campaignsContainer(containerTitle, items,itemsClass)
    .campaign_container(ng-if="nowType=='all'||nowType=='#{items}'")
      .campaign_container_title(ng-if="#{items}.length>0 || nowType=='#{items}'" class="#{itemsClass}" ng-cloak)
        p #{containerTitle} {{#{items}.length}}
      campaign-card(ng-repeat="campaign in #{items}" campaign="campaign")

  ion-header-bar

    a.button.icon.ion-calendar(href="#/calendar")
    h1.title 活动
    a.button.icon.ion-plus(href="#/campaign/sponsor")

  ion-content.campaigns_container.has-header(delegate-handle="mainScroll" overflow-scroll="true")
    .button-bar.campaign_filter
      a.button.button-clear(ng-click="filter('all')" ng-class="{'icon_blue':nowType=='all'}") 所有
      a.button.button-clear(ng-click="filter('newCampaigns')" ng-class="{'icon_darkBlue':nowType=='newCampaigns'}") 新活动
      a.button.button-clear(ng-click="filter('provokes')" ng-class="{'icon_iconPurple':nowType=='provokes'}") 挑战
      a.button.button-clear(ng-click="filter('nowCampaigns')" ng-class="{'icon_borderPurple':nowType=='nowCampaigns'}") 进行中
      a.button.button-clear(ng-click="filter('unStartCampaigns')" ng-class="{'icon_textPurple':nowType=='unStartCampaigns'}") 即将
    ion-scroll.campaign_list
      ion-refresher(on-refresh="doRefresh()")
      +campaignsContainer('新的活动','newCampaigns','icon_darkBlue')
      +campaignsContainer('挑战','provokes','icon_iconPurple')
      +campaignsContainer('进行中','nowCampaigns','icon_borderPurple')
      +campaignsContainer('即将','unStartCampaigns','icon_textPurple')
