ion-view(ng-controller="CampaignController")
  mixin campaignsContainer(containerTitle, items,itemsClass,orderByStr)
    .campaign_container(class="#{itemsClass}" ng-if="nowType=='all'||nowType=='#{items}'")
      .campaign_container_title(ng-if="#{items}.length>0 || nowType=='#{items}'" ng-cloak)
        span #{containerTitle} {{#{items}.length}}
      new-campaign-card(bindonce='#{items}' ng-repeat="campaign in #{items} track by campaign._id" campaign="campaign" campaign-index="$index" campaign-filter="#{items}" is-last="$index===#{items}.length-1")

  ion-header-bar

    a.button(href="#/calendar/campaigns")
      svg.svg_icon.svg_nav_icon
        use(xlink:href="#richeng")
    h1.title(ng-click="showFilter($event)")
      span {{typeTitle}}&nbsp;
      i.icon.ion-arrow-down-b
    a.button.icon.ion-plus(ng-if="showSponsorButton" href="#/campaign/sponsor/campaigns")

  ion-content.campaigns_container(delegate-handle="mainScroll" overflow-scroll="true")
    
    //- .campaign_filter
    //-   a.button.button-clear(ng-click="filter('all')" ng-class="{'icon_blue':nowType=='all'}") 所有
    //-   a.button.button-clear(ng-click="filter('newCampaigns')" ng-class="{'icon_blue':nowType=='newCampaigns'}") 新活动
    //-   a.button.button-clear(ng-click="filter('provokes')" ng-class="{'icon_blue':nowType=='provokes'}") 挑战
    //-   a.button.button-clear(ng-click="filter('nowCampaigns')" ng-class="{'icon_blue':nowType=='nowCampaigns'}") 进行中
    //-   a.button.button-clear(ng-click="filter('unStartCampaigns')" ng-class="{'icon_blue':nowType=='unStartCampaigns'}") 即将
    ion-scroll.campaign_list
      ion-refresher(on-refresh="doRefresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
      +campaignsContainer('未参加的新活动','newCampaigns','cp_unjoin')
      +campaignsContainer('进行中的活动','nowCampaigns','cp_now')
      +campaignsContainer('即将开始的活动','unStartCampaigns','cp_unstart')
      +campaignsContainer('刚结束的活动', 'finishedCampaigns', 'cp_finished')
      .no_campaign(ng-if="noCampaigns" ng-cloak)
        a.no_campaign_tip.no_underline(href="#/company/teams/official")
          p 没有活动?
          p 加入更多的小队吧！
          p.button_container
            //- span.tip_info 点击
            span.team_link 全部小队

script(id="my-popover.html" type="text/ng-template")
  ion-popover-view.dl_popover.campaign_filter_popover
    ion-content.dl_popover_content
      button.dl_popover_button(ng-click="filter('all')") 所有活动
      button.dl_popover_button(ng-click="filter('newCampaigns')") 新活动
      button.dl_popover_button(ng-click="filter('unStartCampaigns')") 即将开始的活动
      button.dl_popover_button(ng-click="filter('nowCampaigns')" ng-class="{'icon_blue':nowType=='nowCampaigns'}") 正在进行的活动
      button.dl_popover_button(ng-click="filter('finishedCampaigns')") 刚结束的活动
